<!DOCTYPE html>
<html class="no-js" lang="en" manifest="manifest.appcache">
<head>
    <meta charset="UTF-8">
    <title>djwaHTMLtemplate</title>
    <meta name="description" content="This is an awesome HTML template!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" type="text/css" href="styles/styles.min.css"/>
    <script src="js/modernizr.js"></script>
</head>
<body>
<header>
    <div class="wrapper row">
        <div class="col-md-5 col-xs-12">
            <div class="logo"></div>
        </div>
        <nav class="col-md-7">
            <ul>
                <li>
                    <span class="icon-wrapper-22">
                        <span class="icon icon-home"></span>
                    </span>
                    <span>home icon</span>
                </li>
                <li>
                    <span class="icon-wrapper-22">
                        <span class="icon icon-wifi"></span>
                    </span>
                    <span>wifi icon</span>
                </li>
                <li>
                    <span class="icon-wrapper-22">
                        <span class="icon icon-search"></span>
                    </span>
                    <span>search icon</span>
                </li>
                <li>
                    <span class="icon-wrapper-22">
                        <span class="icon icon-wrench"></span>
                    </span>
                    <span>wrench icon</span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="clearfix"></div>
</header>
<main>
    <section class="upper-section">
        <div class="wrapper">
            <h1>You are cut out :)</h1>
        </div>
    </section>
</main>

<footer>
    <div class="wrapper"></div>
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>